<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title> Plenty of Dish</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/cover/">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  <!-- Custom styles for this template -->
  <link rel='stylesheet' href='/stylesheets/homepage.css' />
</head>

<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link" href="/">Homepage</a>
          <a class="nav-link active" href="/user/myprofile">Profile</a>
          <a class="nav-link" href="/user/matches">Your chosen bowlmates</a>
          <a class="nav-link" href="/user/catches">More catches</a>
          <a class="nav-link" href="/user/chat">Plenty of chat</a>
          <a class="nav-link" href="/logout">Log Out</a>
        </nav>
      </div>
    </header>
    <main role="main" class="inner cover">
      <h1 class="cover-heading">Your Egg-cellent Profile</h1>
      <div class="profile_info">
        <img src="/public/images/ProfilePics/tmp-1-1593692788311.png" alt="Profile Picture" width="250" height="200"/>
        <p class="form_title mb-3"><span class="form_style">Name:</span> <%= name %></p>
        <p class="form_title mb-3"><span class="form_style">Email:</span> <%= email %></p>
        <p class="form_title mb-3"><span class="form_style">Age:</span> <%= age %></p>
        <p class="form_title mb-3"><span class="form_style">Location:</span> <%= location %></p>
        <p class="form_title mb-3"><span class="form_style">Zodiac Sign:</span> <%= zodiac %></p>
        <p class="form_title mb-3"><span class="form_style">Favourite Breakfast Dish:</span> <%= breakfast %></p>
        <p class="form_title mb-3"><span class="form_style">What Lunch Dreams are made of:</span> <%= lunch %></p>
        <p class="form_title mb-3"><span class="form_style">Winner Winner ... Dinner:</span> <%= dinner %></p>
        <p class="form_title mb-3"><span class="form_style">Save space for dessert:</span> <%= dessert %></p>
        <p class="form_title mb-3"><span class="form_style">In the mornings I drink:</span> <%= amdrink %></p>
        <p class="form_title mb-3"><span class="form_style">PM poison of choice:</span> <%= pmdrink %></p>
        <p class="form_title mb-3"><span class="form_style">Guilty pleasures I don't share:</span> <%= guilty %></p>
        <br>
      </div>
      <form action="/user/<%= id %>/edit" method="get">
        <input type="submit" value="Edit profile &#9997;" />
      </form>
    </main>
    <footer class="mastfoot mt-auto">
      <div class="inner">
        Copyright &copy; Plenty of Dish 2020
      </div>
    </footer>
  </div>
</body>