<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Plenty of Dish</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/album/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel='stylesheet' href='/stylesheets/matching.css' />
</head>
<header class="masthead mb-auto">
  <div class="inner">
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link active" href="/user/myprofile">My Profile</a>
      <a class="nav-link" href="/">Homepage</a>
      <a class="nav-link" href="/user/matches">Your chosen bowlmates</a>
      <a class="nav-link" href="/user/catches">More catches</a>
      <a class="nav-link" href="/logout">Log out</a>
    </nav>
  </div>
</header>

<center>
<br>
<br>
<br>
<h1> <%= name %>'s pending matches </h1>
<br>
<img src="https://media.giphy.com/media/l2RaVc3X521tIh4gU/giphy.gif" class="cheese-image" alt="melted cheese sandwich">
<br>
<br>
<h2> Matches you requested: </h2>
 <% for (var i = 0; i < usersuggestedmatches.length; i++) { %>
     <br>
     ❤️ Suggested match : <%= i+1 %>
     <br>
     <a class="match" href="/user/profile/<%= usersuggestedmatches[i] %>">See their profile </a>
     <br>
     <a class="match" href="/user/unmatch/<%= usersuggestedmatches[i] %>">Ditch em</a>

<br>
<% } %>
<center>
<br>
  <h2> Matches interested in you: </h2>
  <p> They could be your biggest flan. </p>
  <% for (var i = 0; i < matchsuggestedmatches.length; i++) { %>
      <br>
      ❓Proposed match : <%= i+1 %>
      <br>
      <a class="match" href="/user/profile/<%= matchsuggestedmatches[i] %>">See their profile</a>
      <br>
      <a class="match" href="/user/unmatch/<%= matchsuggestedmatches[i] %>">Ditch em</a>
      <br>
      <a class="match" href="/user/confirm/<%= matchsuggestedmatches[i] %>">Approve this match </a>
 <br>
 <% } %>
 <center>

  <br>
  <br>
  <br>
  <br>
  <footer class="mastfoot mt-auto">
    <div class="inner">
      Copyright &copy; Plenty of Dish 2020
    </div>
  </footer>
